.popup {
  display: block;
  background-color: white;
  position: absolute;
  top: 200px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 700px;
  margin: 0 auto;
  z-index: 10000;
  border: 1px solid #333;
  border-radius: 30px;
}
@media screen and (max-width: 1050px) {
  .popup {
    width: 90%;
    margin: 0 auto;
  }
}
.popup > .content {
  position: relative;
  padding: 70px;
}
@media screen and (max-width: 1050px) {
  .popup > .content {
    padding: 10%;
  }
}
.popup > .content > .conTop > a {
  display: block;
  float: right;
}
.popup > .content > .conTop > a:focus, .popup > .content > .conTop > a:hover {
  opacity: 0.5;
}
.popup > .content > .conTop > .title {
  font-size: 20px;
  font-weight: 700;
  -webkit-transform: none;
          transform: none;
}
.popup > .content > .conTop > .title > img {
  margin-right: 10px;
}
.popup > .content > .conCenter > .line {
  border: 1px solid #333;
  margin: 40px 0;
}
.popup > .content > .conCenter > .sub {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 30px;
}
.popup > .content > .conBottom > span {
  display: block;
  line-height: 25px;
  font-size: 17px;
  font-weight: bold;
}
.popup > .content > .conBottom > span:last-of-type {
  margin-bottom: 80px;
}
.popup > .content > .conBottom > span a:focus, .popup > .content > .conBottom > span a:hover {
  color: #3a8dfd;
}
.popup > .content > .conBottom > span a img {
  margin-right: 5px;
}
.popup > .content > .conBottom > span a > strong {
  font-weight: bolder;
}
.popup > .content > .conBottom > button {
  border: 1px solid #333;
  border-radius: 30px;
  font-size: 17px;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 10px 30px;
  margin-bottom: 70px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: white;
}
@media screen and (max-width: 1050px) {
  .popup > .content > .conBottom > button {
    margin-bottom: 10%;
  }
}
.popup > .content > .conBottom > button:focus, .popup > .content > .conBottom > button:hover {
  background-color: #0473ea;
  border: 1px solid transparent;
  color: white;
}

.center {
  max-width: 1420px;
  width: 1500px;
  margin: 0 auto;
}
@media screen and (max-width: 1560px) {
  .center {
    max-width: 98%;
  }
}
@media screen and (max-width: 767px) {
  .center {
    max-width: 97%;
  }
}

header .center {
  position: relative;
}
header .center .logo {
  position: relative;
  float: left;
  margin: 10px 0;
  z-index: 10000;
}
header .center .logo:focus, header .center .logo:hover {
  opacity: 0.5;
}
header .center .logo a .pc_logo {
  width: 181px;
  margin: 14px 0;
}
@media screen and (max-width: 1280px) {
  header .center .logo a .pc_logo {
    display: none;
  }
}
header .center .logo a .mobile_logo {
  width: 50px;
  display: none;
}
@media screen and (max-width: 1280px) {
  header .center .logo a .mobile_logo {
    display: block;
  }
}
header .center .ham {
  display: none;
}
@media screen and (max-width: 1050px) {
  header .center .ham {
    display: block;
    width: 30px;
    float: right;
    cursor: pointer;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  header .center .ham span {
    position: absolute;
    left: 0;
    display: block;
    margin: 25px 0px;
    width: 30px;
    border-bottom: 1.5px solid #333;
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
}
@media screen and (max-width: 1050px) {
  header .center nav {
    display: none;
  }
}
header .center nav #nav > li {
  position: relative;
  display: inline-block;
  margin-left: 70px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 32px;
}
@media screen and (max-width: 1420px) {
  header .center nav #nav > li {
    margin-left: 5%;
  }
}
@media screen and (max-width: 1280px) {
  header .center nav #nav > li {
    margin-top: 22px;
  }
}
header .center nav #nav > li:focus .temp, header .center nav #nav > li:hover .temp {
  background-color: #3a8dfd;
  border-radius: 20px;
  color: white;
}
header .center nav #nav > li:focus .sub, header .center nav #nav > li:hover .sub {
  display: block;
}
header .center nav #nav > li > a {
  display: block;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 20px;
  font-weight: 700;
}
@media screen and (max-width: 1280px) {
  header .center nav #nav > li > a {
    font-size: 18px;
  }
}
header .center nav #nav > li .sub {
  display: none;
  z-index: 10;
  padding: 10px 10px;
  padding-top: 30px;
  width: 250px;
  position: absolute;
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: white;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
}
@media screen and (max-width: 1280px) {
  header .center nav #nav > li .sub {
    position: absolute;
    top: 28px;
  }
}
header .center nav #nav > li .sub li {
  margin: 15px 30px;
  border-bottom: 1px solid #ccc;
}
header .center nav #nav > li .sub li:last-child {
  border-bottom: 0;
}
header .center nav #nav > li .sub li a {
  display: block;
  font-size: 17px;
  margin-bottom: 15px;
}
@media screen and (max-width: 1280px) {
  header .center nav #nav > li .sub li a {
    font-size: 15px;
  }
}
header .center nav #nav > li .sub li a:focus, header .center nav #nav > li .sub li a:hover {
  color: #3a8dfd;
  font-weight: 900;
}
header .center .gnb {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
}
@media screen and (max-width: 1050px) {
  header .center .gnb {
    position: absolute;
    right: 8%;
  }
}
@media screen and (max-width: 640px) {
  header .center .gnb {
    position: absolute;
    right: 10%;
  }
}
header .center .gnb li {
  float: left;
  margin-left: 30px;
}
@media screen and (max-width: 1420px) {
  header .center .gnb li {
    margin-left: 15px;
  }
}
header .center .gnb li:nth-child(1), header .center .gnb li:nth-child(2), header .center .gnb li:nth-child(3) {
  margin-top: 10px;
}
@media screen and (max-width: 1280px) {
  header .center .gnb li:nth-child(1), header .center .gnb li:nth-child(2), header .center .gnb li:nth-child(3) {
    font-size: 14px;
  }
}
header .center .gnb li:nth-child(1):focus a, header .center .gnb li:nth-child(1):hover a, header .center .gnb li:nth-child(2):focus a, header .center .gnb li:nth-child(2):hover a, header .center .gnb li:nth-child(3):focus a, header .center .gnb li:nth-child(3):hover a {
  font-weight: 700;
  color: #0473ea;
}
header .center .gnb li:last-child {
  background: #3a8dfd;
  background-size: 400%;
  border-radius: 20px;
  padding: 10px 12.5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
header .center .gnb li:last-child:focus, header .center .gnb li:last-child:hover {
  opacity: 0.5;
}
header .center .gnb li:last-child a {
  display: block;
  color: white;
}
header .center .gnb li:last-child a > img {
  margin-top: -4px;
  margin-right: 5px;
}
header #mNav {
  display: none;
}
@media screen and (max-width: 1050px) {
  header #mNav {
    display: block;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    border-top: 1px solid #0473ea;
    border-bottom: 1px solid #0473ea;
    left: -100%;
    position: absolute;
    top: 70px;
    right: 0;
  }
  header #mNav .mNav {
    background-color: white;
  }
  header #mNav .mNav > li {
    background-color: #0473ea;
    padding-top: 20px;
    border-bottom: 1px solid #fff;
    display: block;
    text-align: center;
  }
  header #mNav .mNav > li:last-child {
    margin-bottom: 0;
  }
  header #mNav .mNav > li:focus .temp, header #mNav .mNav > li:hover .temp {
    opacity: 0.5;
  }
  header #mNav .mNav > li > .temp {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-bottom: 20px;
    color: #fff;
    background: url(../img/mob_gnb_arrow_down_w.png) no-repeat 95% 10%;
    font-size: 20px;
    font-weight: 700;
  }
  header #mNav .mNav > li .mobileActive {
    background: url(../img/mob_gnb_arrow_up_w.png) no-repeat 95% 10%;
  }
  header #mNav .mNav > li .sub {
    display: none;
    background-color: #fff;
    text-align: left;
    padding-top: 5px;
    padding-right: 0;
  }
  header #mNav .mNav > li .sub > li {
    border-bottom: 1px solid #ccc;
    width: 80%;
    padding: 12.5px 0;
    margin: 0 auto;
  }
  header #mNav .mNav > li .sub > li:last-child {
    border-bottom: none;
  }
  header #mNav .mNav > li .sub > li a {
    font-size: 16px;
    font-weight: 500;
  }
  header #mNav .mNav > li .sub > li a:focus, header #mNav .mNav > li .sub > li a:hover {
    color: #0473ea;
    font-weight: 900;
  }
}

@-webkit-keyframes bgAni {
  0% {
    background-position: 0 center;
  }
  100% {
    background-position: 700% center;
  }
}
@keyframes bgAni {
  0% {
    background-position: 0 center;
  }
  100% {
    background-position: 700% center;
  }
}
.ham span:nth-child(1) {
  top: 0px;
}
.ham span:nth-child(2) {
  top: 10px;
}
.ham span:nth-child(3) {
  top: 20px;
}
.ham.active span:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.ham.active span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
.ham.active span:nth-child(3) {
  top: 10px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

#mainBanner {
  position: relative;
  overflow: hidden;
  height: 450px;
}
#mainBanner .banner {
  width: 500%;
  height: 100%;
}
#mainBanner .banner li {
  width: 20%;
  height: 100%;
  float: left;
}
.banner > .b1 > a {
  background-image: url(../img/mainBanner_01.jpg);
}

.banner > .b2 > a {
  background-image: url(../img/mainBanner_02.jpg);
}

.banner > .b3 > a {
  background-image: url(../img/mainBanner_03.png);
}

.banner > .b4 > a {
  background-image: url(../img/mainBanner_04.jpg);
}

#mainBanner .banner li a {
  display: block;
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}
#mainBanner .banner li a .content {
  position: absolute;
  top: 50%;
  left: 12%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (max-width: 640px) {
  #mainBanner .banner li a .content {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
}
#mainBanner .banner li a .content .title {
  font-size: 32px;
  font-weight: bolder;
  color: white;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  #mainBanner .banner li a .content .title {
    font-size: 28px;
  }
}
@media screen and (max-width: 640px) {
  #mainBanner .banner li a .content .title {
    font-size: 25px;
  }
}
#mainBanner .banner li a .content .sub {
  font-size: 18px;
  font-weight: 300;
  color: white;
  display: block;
  margin-bottom: 50px;
  line-height: 25px;
}
@media screen and (max-width: 767px) {
  #mainBanner .banner li a .content .sub {
    font-size: 16.5px;
  }
}
@media screen and (max-width: 640px) {
  #mainBanner .banner li a .content .sub {
    font-size: 16px;
  }
}
#mainBanner .banner li a .content .moreBtn {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 14px;
  border: 1px solid white;
  border-radius: 30px;
  color: white;
  background-color: transparent;
  padding: 10px 50px;
}
#mainBanner .banner li a .content .moreBtn:focus, #mainBanner .banner li a .content .moreBtn:hover {
  border: 1px solid transparent;
  background-color: #0473ea;
}
#mainBanner .arrowBtn li {
  position: absolute;
  top: 50%;
  margin: 0 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#mainBanner .arrowBtn li:nth-child(2) {
  right: 0;
}
#mainBanner .arrowBtn li:focus, #mainBanner .arrowBtn li:hover {
  opacity: 0.5;
}
#mainBanner .arrowBtn li:last-child {
  position: absolute;
  top: 67.5%;
  left: 20%;
}
@media screen and (max-width: 1280px) {
  #mainBanner .arrowBtn li:last-child {
    display: none;
  }
}
#mainBanner .arrowBtn li:last-child a {
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(../img/pause.png);
}
#mainBanner .arrowBtn li:last-child.on a {
  background-image: url(../img/play.png);
}

#quickWrap {
  position: relative;
}
#quickWrap .center {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
#quickWrap .center .quickWrap {
  position: absolute;
  top: -60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: white;
  border-radius: 80px;
  -webkit-box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
  width: 950px;
}
@media screen and (max-width: 1050px) {
  #quickWrap .center .quickWrap {
    position: absolute;
    top: -40px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
#quickWrap .center .quickWrap li {
  display: inline-block;
  padding: 25px 30px;
  margin: 0 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-repeat: no-repeat;
  background-position: 20px 0px;
}
@media screen and (max-width: 1050px) {
  #quickWrap .center .quickWrap li {
    margin: 0;
    padding: 1% 1.5%;
  }
}
@media screen and (max-width: 640px) {
  #quickWrap .center .quickWrap li {
    padding: 1% 0.5%;
  }
}
#quickWrap .center .quickWrap li:first-child {
  margin-left: 45px;
}
@media screen and (max-width: 1050px) {
  #quickWrap .center .quickWrap li:first-child {
    margin: 0;
  }
}
#quickWrap .center .quickWrap li:first-child:focus .quick1, #quickWrap .center .quickWrap li:first-child:hover .quick1 {
  background-image: url(../img/quick_icon_01_focused.png);
}
#quickWrap .center .quickWrap li:nth-child(2):focus .quick2, #quickWrap .center .quickWrap li:nth-child(2):hover .quick2 {
  background-image: url(../img/quick_icon_02_focused.png);
}
#quickWrap .center .quickWrap li:nth-child(3):focus .quick3, #quickWrap .center .quickWrap li:nth-child(3):hover .quick3 {
  background-image: url(../img/quick_icon_03_focused.png);
}
#quickWrap .center .quickWrap li:nth-child(4):focus .quick4, #quickWrap .center .quickWrap li:nth-child(4):hover .quick4 {
  background-image: url(../img/quick_icon_04_focused.png);
}
#quickWrap .center .quickWrap li:nth-child(5):focus .quick5, #quickWrap .center .quickWrap li:nth-child(5):hover .quick5 {
  background-image: url(../img/quick_icon_05_focused.png);
}
#quickWrap .center .quickWrap li:nth-child(6):focus .quick6, #quickWrap .center .quickWrap li:nth-child(6):hover .quick6 {
  background-image: url(../img/quick_icon_06_focused.png);
}
#quickWrap .center .quickWrap li:last-child {
  margin-right: 45px;
}
@media screen and (max-width: 1050px) {
  #quickWrap .center .quickWrap li:last-child {
    margin: 0;
  }
}
#quickWrap .center .quickWrap li:last-child:focus .quick7, #quickWrap .center .quickWrap li:last-child:hover .quick7 {
  background-image: url(../img/quick_icon_07_focused.png);
}
#quickWrap .center .quickWrap li:focus, #quickWrap .center .quickWrap li:hover {
  background-color: #0473ea;
  border-radius: 10px;
}
#quickWrap .center .quickWrap li:focus span, #quickWrap .center .quickWrap li:hover span {
  color: white;
}
#quickWrap .center .quickWrap li a p {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}
@media screen and (max-width: 640px) {
  #quickWrap .center .quickWrap li a p {
    width: 0;
    height: 0;
  }
}
#quickWrap .center .quickWrap li a .quick1 {
  background-image: url(../img/quick_icon_01.png);
}
#quickWrap .center .quickWrap li a .quick2 {
  background-image: url(../img/quick_icon_02.png);
}
#quickWrap .center .quickWrap li a .quick3 {
  background-image: url(../img/quick_icon_03.png);
}
#quickWrap .center .quickWrap li a .quick4 {
  background-image: url(../img/quick_icon_04.png);
}
#quickWrap .center .quickWrap li a .quick5 {
  background-image: url(../img/quick_icon_05.png);
}
#quickWrap .center .quickWrap li a .quick6 {
  background-image: url(../img/quick_icon_06.png);
}
#quickWrap .center .quickWrap li a .quick7 {
  background-image: url(../img/quick_icon_07.png);
}
#quickWrap .center .quickWrap li a span {
  display: block;
  text-align: center;
  margin-top: 5px;
  white-space: nowrap;
  font-size: 15.5px;
  font-weight: 600;
}
@media screen and (max-width: 1050px) {
  #quickWrap .center .quickWrap li a span {
    font-size: 14px;
  }
}
@media screen and (max-width: 640px) {
  #quickWrap .center .quickWrap li a span {
    font-size: 15px;
    padding: 20px 7px;
  }
}

@media screen and (max-width: 1280px) {
  #quickFixed {
    display: none;
  }
}
#quickFixed .quickFixed {
  z-index: 100;
  position: absolute;
  top: 500px;
  right: 15px;
  border-radius: 60px;
  -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
  background-color: white;
}
#quickFixed .quickFixed ul {
  margin: 10px 15px;
}
@media screen and (max-width: 1420px) {
  #quickFixed .quickFixed ul {
    margin: 5px;
  }
}
#quickFixed .quickFixed ul li {
  padding: 30px 0;
  border-bottom: 1px solid #ccc;
}
@media screen and (max-width: 1420px) {
  #quickFixed .quickFixed ul li {
    padding: 20px 0;
  }
}
#quickFixed .quickFixed ul li:last-child {
  border-bottom: none;
}
#quickFixed .quickFixed ul li:focus a, #quickFixed .quickFixed ul li:hover a {
  font-weight: 900;
}
#quickFixed .quickFixed ul li a {
  display: block;
  font-size: 16px;
  text-align: center;
}
@media screen and (max-width: 1420px) {
  #quickFixed .quickFixed ul li a {
    font-size: 15px;
  }
}
#quickFixed .quickFixed ul li a p {
  font-size: 17px;
  font-weight: 900;
  color: #3a8dfd;
  margin-top: 5px;
}
@media screen and (max-width: 1420px) {
  #quickFixed .quickFixed ul li a p {
    font-size: 16px;
  }
}

.titleWrap {
  position: relative;
  margin-top: 150px;
  margin-bottom: 50px;
}
.titleWrap .title {
  font-size: 26px;
  font-weight: 600;
}
@media screen and (max-width: 640px) {
  .titleWrap .title {
    font-size: 24px;
  }
}
.titleWrap .sub {
  font-size: 17px;
  display: block;
  margin-top: 5px;
  line-height: 22px;
}
@media screen and (max-width: 640px) {
  .titleWrap .sub {
    font-size: 15px;
  }
}
.titleWrap .viewMore {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid #333;
  border-radius: 30px;
}
.titleWrap .viewMore:focus, .titleWrap .viewMore:hover {
  border: 1px solid transparent;
  background-color: #0473ea;
}
.titleWrap .viewMore:focus a, .titleWrap .viewMore:hover a {
  color: white;
  background-image: url(../img/add_icon_focused.png);
}
.titleWrap .viewMore a {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 35px;
  background-image: url(../img/add_icon.png);
  background-repeat: no-repeat;
  background-position: 57.5px 9px;
  background-size: 16px;
}
@media screen and (max-width: 640px) {
  .titleWrap .viewMore a {
    font-size: 14px;
    background-size: 14px;
    background-position: 52.5px 9px;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 25px;
  }
}

.productWrap .center .productCon .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 640px) {
  .productWrap .center .productCon .product {
    display: block;
  }
}
.productWrap .center .productCon .product li {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.15);
  margin-right: 1%;
}
@media screen and (max-width: 767px) {
  .productWrap .center .productCon .product li {
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid #aaa;
  }
}
@media screen and (max-width: 640px) {
  .productWrap .center .productCon .product li {
    margin: 10px 10%;
  }
}
.productWrap .center .productCon .product li:last-child {
  margin-right: 0;
}
@media screen and (max-width: 640px) {
  .productWrap .center .productCon .product li:last-child {
    margin: 10px 10%;
  }
}
.productWrap .center .productCon .product li:focus, .productWrap .center .productCon .product li:hover {
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
}
@media screen and (max-width: 1420px) {
  .productWrap .center .productCon .product li img {
    width: 100%;
  }
}
.productWrap .center .productCon .product li a {
  display: block;
  padding: 25px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 1050px) {
  .productWrap .center .productCon .product li a {
    padding: 10%;
  }
}
.productWrap .center .productCon .product li a .moreBtn {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid #0473ea;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  padding: 3px 10px;
  margin: 10px 0;
  color: #0473ea;
}
.productWrap .center .productCon .product li a .moreBtn:focus, .productWrap .center .productCon .product li a .moreBtn:hover {
  background-color: #0473ea;
  border: 1px solid #0473ea;
  color: white;
}
.productWrap .center .productCon .product li a .title {
  font-size: 22px;
  font-weight: 700;
  line-height: 25px;
  margin: 20px 0;
}
@media screen and (max-width: 1280px) {
  .productWrap .center .productCon .product li a .title {
    font-size: 20px;
  }
}
@media screen and (max-width: 1050px) {
  .productWrap .center .productCon .product li a .title {
    font-size: 17px;
  }
}
@media screen and (max-width: 767px) {
  .productWrap .center .productCon .product li a .title {
    font-size: 16.5px;
  }
}
.productWrap .center .productCon .product li a .line {
  border-bottom: 1px solid #333;
  width: 35%;
  margin: 20px 0;
}
@media screen and (max-width: 1050px) {
  .productWrap .center .productCon .product li a .line {
    display: none;
  }
}
.productWrap .center .productCon .product li a .sub {
  font-size: 14px;
  display: block;
  line-height: 20px;
  margin-bottom: 10px;
}
@media screen and (max-width: 1280px) {
  .productWrap .center .productCon .product li a .sub {
    font-size: 13px;
  }
}
@media screen and (max-width: 1050px) {
  .productWrap .center .productCon .product li a .sub {
    display: none;
    margin-bottom: 0;
  }
}

.eventWrap .center .eventCon .event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 640px) {
  .eventWrap .center .eventCon .event {
    display: block;
  }
}
.eventWrap .center .eventCon .event li {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.15);
  margin-right: 1%;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .eventWrap .center .eventCon .event li {
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid #aaa;
  }
}
@media screen and (max-width: 640px) {
  .eventWrap .center .eventCon .event li {
    margin: 10px 10%;
  }
}
.eventWrap .center .eventCon .event li:last-child {
  margin-right: 0;
}
@media screen and (max-width: 640px) {
  .eventWrap .center .eventCon .event li:last-child {
    margin: 5px 10%;
  }
}
.eventWrap .center .eventCon .event li:focus, .eventWrap .center .eventCon .event li:hover {
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
}
.eventWrap .center .eventCon .event li .imgBox {
  z-index: 10;
}
.eventWrap .center .eventCon .event li .imgBox img {
  -webkit-transition: 1s;
  transition: 1s;
}
@media screen and (max-width: 1420px) {
  .eventWrap .center .eventCon .event li .imgBox img {
    width: 100%;
  }
}
.eventWrap .center .eventCon .event li .event_textBox {
  position: relative;
  display: block;
  padding: 25px 30px;
}
@media screen and (max-width: 1050px) {
  .eventWrap .center .eventCon .event li .event_textBox {
    padding: 10%;
  }
}
.eventWrap .center .eventCon .event li .event_textBox .moreBtn {
  position: absolute;
  right: 30px;
  bottom: 25px;
  border: 1px solid #0473ea;
  border-radius: 20px;
  background-color: white;
  padding: 5px 10px;
  margin: 10px 0;
  color: #0473ea;
  font-weight: bold;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 1050px) {
  .eventWrap .center .eventCon .event li .event_textBox .moreBtn {
    position: static;
    font-size: 14px;
  }
}
.eventWrap .center .eventCon .event li .event_textBox .moreBtn:focus, .eventWrap .center .eventCon .event li .event_textBox .moreBtn:hover {
  background-color: #0473ea;
  border: 1px solid transparent;
  color: white;
}
.eventWrap .center .eventCon .event li .event_textBox .title {
  font-size: 22px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 40px;
  line-height: 27px;
}
@media screen and (max-width: 1280px) {
  .eventWrap .center .eventCon .event li .event_textBox .title {
    font-size: 20px;
  }
}
@media screen and (max-width: 1050px) {
  .eventWrap .center .eventCon .event li .event_textBox .title {
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .eventWrap .center .eventCon .event li .event_textBox .title {
    font-size: 16.5px;
  }
}
.eventWrap .center .eventCon .event li .event_textBox .date {
  font-size: 14px;
  display: block;
  line-height: 20px;
  margin-bottom: 10px;
}
@media screen and (max-width: 1280px) {
  .eventWrap .center .eventCon .event li .event_textBox .date {
    font-size: 13px;
  }
}
@media screen and (max-width: 1050px) {
  .eventWrap .center .eventCon .event li .event_textBox .date {
    display: none;
  }
}

.appWrap {
  margin-top: 150px;
  position: relative;
  background-image: url(../img/app_background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 570px;
}
.appWrap .appCon {
  position: absolute;
  top: 50%;
  right: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (max-width: 767px) {
  .appWrap .appCon {
    position: absolute;
    right: 1%;
  }
}
.appWrap .appCon .title {
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  color: white;
}
@media screen and (max-width: 767px) {
  .appWrap .appCon .title {
    font-size: 25px;
  }
}
.appWrap .appCon .sub {
  font-size: 17px;
  font-weight: 300;
  color: white;
  display: block;
  margin-top: 40px;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .appWrap .appCon .sub {
    font-size: 16px;
  }
}
.appWrap .appCon .qr li {
  float: left;
}
.appWrap .appCon .qr li a {
  display: block;
  margin-right: 30px;
}
.appWrap .appCon .qr li a span {
  display: block;
  color: white;
  font-size: 16px;
  margin-top: 10px;
}
.appWrap .appCon .qr li a span img {
  margin-right: 7px;
}

.newsWrap {
  margin: 200px 0;
}
@media screen and (max-width: 767px) {
  .newsWrap {
    margin: 0;
  }
}
.newsWrap .center {
  position: relative;
}
@media screen and (max-width: 767px) {
  .newsWrap .center .titleWrap {
    text-align: center;
  }
}
@media screen and (max-width: 767px) and (max-width: 767px) {
  .newsWrap .center .titleWrap .sub {
    padding-bottom: 30px;
  }
}
.newsWrap .center .titleWrap button {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid #333;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 40px;
  margin-top: 50px;
  background-color: white;
  background-image: url(../img/news_icon.png);
  background-repeat: no-repeat;
  background-position: 160px 14px;
}
@media screen and (max-width: 767px) {
  .newsWrap .center .titleWrap button {
    display: none;
  }
}
.newsWrap .center .titleWrap button:focus, .newsWrap .center .titleWrap button:hover {
  border: 1px solid transparent;
  background-color: #0473ea;
  background-image: url(../img/news_icon_focused.png);
  color: white;
}
.newsWrap .center .titleWrap button img {
  margin-left: 10px;
}
.newsWrap .center .newsCon {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (max-width: 1280px) {
  .newsWrap .center .newsCon {
    position: absolute;
    right: 5%;
  }
}
@media screen and (max-width: 767px) {
  .newsWrap .center .newsCon {
    position: static;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.newsWrap .center .newsCon .news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1280px) {
  .newsWrap .center .newsCon .news {
    display: block;
  }
}
.newsWrap .center .newsCon .news li {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  margin-left: 60px;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
  padding: 30px;
  width: 250px;
}
@media screen and (max-width: 1420px) {
  .newsWrap .center .newsCon .news li {
    margin-left: 1%;
  }
}
@media screen and (max-width: 1280px) {
  .newsWrap .center .newsCon .news li {
    width: 100%;
    margin: 0;
    padding: 5%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
@media screen and (max-width: 767px) {
  .newsWrap .center .newsCon .news li {
    padding: 0;
    margin-top: 10px;
  }
}
.newsWrap .center .newsCon .news li:focus, .newsWrap .center .newsCon .news li:hover {
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}
.newsWrap .center .newsCon .news li:focus a img, .newsWrap .center .newsCon .news li:hover a img {
  -webkit-animation: rotate_image 2s linear infinite;
  animation: rotate_image 2s linear infinite;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.newsWrap .center .newsCon .news li a .moreBtn {
  border: 1px solid #38d200;
  border-radius: 20px;
  padding: 3px 10px;
  background-color: white;
  color: #38d200;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 640px) {
  .newsWrap .center .newsCon .news li a .moreBtn {
    display: block;
    width: 53px;
  }
}
@media screen and (max-width: 480px) {
  .newsWrap .center .newsCon .news li a .moreBtn {
    font-size: 14px;
  }
}
.newsWrap .center .newsCon .news li a .notice {
  border: 1px solid #0473ea;
  color: #0473ea;
}
.newsWrap .center .newsCon .news li a .title {
  margin-top: 20px;
  margin-bottom: 55px;
  line-height: 30px;
  font-size: 22px;
  font-weight: 700;
}
@media screen and (max-width: 1050px) {
  .newsWrap .center .newsCon .news li a .title {
    font-size: 19px;
  }
}
@media screen and (max-width: 767px) {
  .newsWrap .center .newsCon .news li a .title {
    display: inline;
    font-size: 17px;
  }
}
@media screen and (max-width: 640px) {
  .newsWrap .center .newsCon .news li a .title {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .newsWrap .center .newsCon .news li a .title {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .newsWrap .center .newsCon .news li a .date {
    margin-left: 1%;
    font-size: 14px;
  }
}
@media screen and (max-width: 640px) {
  .newsWrap .center .newsCon .news li a .date {
    font-size: 13px;
  }
}
@media screen and (max-width: 480px) {
  .newsWrap .center .newsCon .news li a .date {
    font-size: 12px;
  }
}
.newsWrap .center .newsCon .news li a img {
  position: absolute;
  right: 30px;
}
@media screen and (max-width: 767px) {
  .newsWrap .center .newsCon .news li a img {
    position: static;
    float: right;
  }
}

@-webkit-keyframes rotate_image {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate_image {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.csWrap {
  background-color: rgb(197, 229, 255);
}
.csWrap .center .titleWrap {
  padding-top: 50px;
  text-align: center;
}
.csWrap .center .csCon .searchCon {
  width: 515px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
@media screen and (max-width: 640px) {
  .csWrap .center .csCon .searchCon {
    width: 100%;
  }
}
.csWrap .center .csCon .searchCon form input {
  width: 450px;
  height: 20px;
  border: 1px solid #0473ea;
  border-radius: 30px;
  padding: 15px 30px;
  -webkit-box-shadow: 2px 2px 15px #0473ea;
          box-shadow: 2px 2px 15px #0473ea;
}
@media screen and (max-width: 640px) {
  .csWrap .center .csCon .searchCon form input {
    width: 100%;
    padding: 15px 0;
  }
}
.csWrap .center .csCon .searchCon form input::-webkit-input-placeholder {
  font-size: 15px;
  font-weight: 700;
  color: #0473ea;
}
.csWrap .center .csCon .searchCon form input::-moz-placeholder {
  font-size: 15px;
  font-weight: 700;
  color: #0473ea;
}
.csWrap .center .csCon .searchCon form input:-ms-input-placeholder {
  font-size: 15px;
  font-weight: 700;
  color: #0473ea;
}
.csWrap .center .csCon .searchCon form input::-ms-input-placeholder {
  font-size: 15px;
  font-weight: 700;
  color: #0473ea;
}
.csWrap .center .csCon .searchCon form input::placeholder {
  font-size: 15px;
  font-weight: 700;
  color: #0473ea;
}
.csWrap .center .csCon .searchCon form input:focus {
  outline: none;
  font-size: 16px;
}
.csWrap .center .csCon .searchCon a {
  display: block;
  position: absolute;
  right: 25px;
  bottom: 60px;
}
@media screen and (max-width: 767px) {
  .csWrap .center .csCon .searchCon a {
    position: absolute;
    bottom: 55px;
  }
}
@media screen and (max-width: 640px) {
  .csWrap .center .csCon .searchCon a {
    position: absolute;
    right: 2%;
  }
}
.csWrap .center .csCon .searchCon .trendList {
  text-align: left;
}
.csWrap .center .csCon .searchCon .trendList li {
  display: inline-block;
  margin: 10px 3px;
  opacity: 1;
}
.csWrap .center .csCon .searchCon .trendList li p {
  border: 1px solid #0473ea;
  border-radius: 20px;
  background-color: white;
  color: #0473ea;
  padding: 5px 10px;
}
@media screen and (max-width: 767px) {
  .csWrap .center .csCon .searchCon .trendList li p {
    font-size: 13px;
    padding: 4px 7px;
  }
}
.csWrap .center .csCon .searchCon .trendList li p img {
  cursor: pointer;
  margin-left: 5px;
}
.csWrap .center .csCon .searchCon .trendList li p img:focus, .csWrap .center .csCon .searchCon .trendList li p img:hover {
  opacity: 0.5;
}
.csWrap .center .csCon .faq {
  margin-top: 40px;
  padding-bottom: 30px;
}
.csWrap .center .csCon .faq li {
  text-align: center;
  margin: 5px 0;
  padding: 0 500px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 1420px) {
  .csWrap .center .csCon .faq li {
    padding: 0 30%;
  }
}
@media screen and (max-width: 1050px) {
  .csWrap .center .csCon .faq li {
    padding: 0 5%;
  }
}
.csWrap .center .csCon .faq li p {
  font-size: 17px;
  border-bottom: 1px solid #aaa;
  padding-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .csWrap .center .csCon .faq li p {
    font-size: 16px;
  }
}
.csWrap .center .csCon .faq li p strong {
  font-size: 25px;
  font-weight: 900;
  display: inline-block;
  margin-right: 10px;
}
.csWrap .center .csCon .faq li .bottom {
  border-bottom: none;
}

.infoWrap .center {
  width: 1200px;
  margin-bottom: 125px;
}
.infoWrap .center .titleWrap {
  margin-top: 125px;
  text-align: center;
}
.infoWrap .center ul li a:focus span, .infoWrap .center ul li a:hover span {
  background: url(../img/btngo.png) no-repeat;
  background-size: cover;
}
.infoWrap .center .pc_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 1280px) {
  .infoWrap .center .pc_info {
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .infoWrap .center .pc_info {
    display: none;
  }
}
@media screen and (max-width: 1280px) {
  .infoWrap .center .pc_info li {
    padding: 5px;
  }
}
.infoWrap .center .pc_info li a img {
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 50%;
}
.infoWrap .center .pc_info li a span {
  position: relative;
  bottom: 25%;
  left: 75%;
  background: url(../img/btngo_ov.png) no-repeat;
  background-size: cover;
  width: 45px;
  height: 45px;
  font-size: 0px;
  display: block;
  -webkit-transform: none;
          transform: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 1050px) {
  .infoWrap .center .pc_info li a span {
    width: 40px;
    height: 40px;
  }
}
.infoWrap .center .mobile_info {
  display: none;
}
@media screen and (max-width: 640px) {
  .infoWrap .center .mobile_info {
    display: block;
    width: 100%;
  }
}
.infoWrap .center .mobile_info > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.infoWrap .center .mobile_info ul span {
  position: relative;
  bottom: 25%;
  left: 75%;
  background: url(../img/btngo_ov.png) no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
  font-size: 0px;
  display: block;
  -webkit-transform: none;
          transform: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
@media screen and (max-width: 480px) {
  .infoWrap .center .mobile_info ul span {
    width: 35px;
    height: 35px;
  }
}
.infoWrap .center .mobile_info > ul > li {
  width: calc(33.3333333333% - 5px);
}
.infoWrap .center .mobile_info > ul > li a img {
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 50%;
}
@media screen and (max-width: 360px) {
  .infoWrap .center .mobile_info > ul > li a span {
    display: none;
  }
}
.infoWrap .center .mobile_info .info_bottom li:first-child {
  margin-left: 16.5%;
}
.infoWrap .center .mobile_info .info_bottom li:last-child {
  margin-right: 16.5%;
}

footer {
  position: relative;
  background-color: #525455;
  padding: 60px 0;
}
footer .center .footTop {
  position: relative;
}
footer .center .footTop .footMenu li {
  float: left;
  margin-right: 50px;
}
@media screen and (max-width: 1050px) {
  footer .center .footTop .footMenu li {
    margin-right: 2%;
  }
}
@media screen and (max-width: 767px) {
  footer .center .footTop .footMenu li {
    margin-left: 0;
    margin-bottom: 15px;
    float: none;
    display: inline-block;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  footer .center .footTop .footMenu li {
    display: block;
    text-align: center;
  }
}
footer .center .footTop .footMenu li:focus a, footer .center .footTop .footMenu li:hover a {
  color: #3a8dfd;
  opacity: 0.75;
}
footer .center .footTop .footMenu li a {
  color: white;
  font-size: 17px;
  font-weight: 700;
}
footer .center .footTop .footMenu li a strong {
  color: #3a8dfd;
  font-weight: 900;
}
footer .center .footTop .sns {
  position: absolute;
  top: 0;
  right: 0;
}
@media screen and (max-width: 767px) {
  footer .center .footTop .sns {
    position: static;
    text-align: center;
  }
}
footer .center .footTop .sns li {
  display: inline-block;
  margin-left: 20px;
}
@media screen and (max-width: 1050px) {
  footer .center .footTop .sns li {
    margin-left: 10px;
  }
}
@media screen and (max-width: 767px) {
  footer .center .footTop .sns li {
    margin-left: 0;
    margin-right: 15px;
    margin-top: 30px;
  }
}
footer .center .footTop .sns li a:focus img, footer .center .footTop .sns li a:hover img {
  opacity: 0.5;
}
footer .center .footTop .sns li a img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
footer .center .footTop .line {
  border-bottom: 1px solid white;
  margin: 30px 0;
}
footer .center .footBottom {
  position: relative;
}
@media screen and (max-width: 767px) {
  footer .center .footBottom address {
    display: none;
  }
}
footer .center .footBottom address p {
  font-size: 15.5px;
  line-height: 22px;
  color: #ccc;
}
footer .center .footBottom address p strong {
  font-weight: 900;
  color: #3a8dfd;
}
@media screen and (max-width: 767px) {
  footer .center .footBottom address p {
    text-align: center;
  }
}
footer .center .footBottom small {
  display: block;
  color: #ccc;
  margin-top: 20px;
  font-size: 15px;
}
@media screen and (max-width: 767px) {
  footer .center .footBottom small {
    text-align: center;
  }
}
footer .center .footBottom .footer_logo {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 767px) {
  footer .center .footBottom .footer_logo {
    position: absolute;
    bottom: 0;
    -webkit-transform: none;
            transform: none;
  }
}
@media screen and (max-width: 640px) {
  footer .center .footBottom .footer_logo {
    display: none;
  }
}
@media screen and (max-width: 1280px) {
  footer .center .footBottom .footer_logo .pc_logo {
    display: none;
  }
}
footer .center .footBottom .footer_logo .mobile_logo {
  width: 50px;
  display: none;
}
@media screen and (max-width: 1280px) {
  footer .center .footBottom .footer_logo .mobile_logo {
    display: block;
  }
}
footer .center .footBottom .footer_logo:focus, footer .center .footBottom .footer_logo:hover {
  opacity: 0.5;
}
footer .center .footBottom .footer_logo img {
  width: 160px;
}
footer .center .footBottom .footer_logo p {
  width: 160px;
  height: 64px;
  background-image: url(../img/footer_logo.png);
}
@media screen and (max-width: 1050px) {
  footer .center .footBottom .footer_logo p {
    width: 40px;
  }
}
@media screen and (max-width: 1280px) {
  footer .upBtn {
    display: none;
  }
}
footer .upBtn a {
  display: block;
  position: absolute;
  right: 40px;
  bottom: 65px;
  width: 25px;
  height: 20px;
  padding: 20px;
  background-color: white;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 1420px) {
  footer .upBtn a {
    right: 2%;
  }
}
footer .upBtn a:focus, footer .upBtn a:hover {
  opacity: 0.5;
}